.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &_input {
    width: 100%;
    padding: 1rem 2rem;
    border: 1px solid var(--secondary-background);
  }

  &_inputWithIcon {
    padding: 1rem 4rem;
  }

  &_icon {
    position: absolute;
    left: 15px;
  }
}
