.carddashboard {
  border: 1px solid var(--secondary-background);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;

  padding: 3rem;

  &_content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    flex-direction: column;

    &_detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;

      small {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }

    &_action {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
  }
}
